body {
    font-family: sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 25rem;
  }
  
  label {
    display: flex;
    gap: 1rem;
  }
  
  table {
    margin-top: 1rem;
    border: 2px solid black; /* Puts a 2px border around the entire table */
    border-collapse: collapse; /* Ensures cell borders share edges (no double border) */
  }
  
  th,
  td {
    border: 1px solid black; /* Adds a border around each cell */
    padding: 8px; /* Adds some spacing within cells */
  }
  